@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

.head{
    
    margin-left: 5%;
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1em;
}

.buttons{
    background-color: white;
    color: black;
    width: 13%;
    margin-left: 80%;

    text-align: center;
    font-weight: bold;
}

.heads{
    background-color: white;
    color: black;
    width:50%;
    font-weight: bold;
}