
.card{
    width: 30%;
    height: 100%;
    display: flex;
}



.sub{
    margin-right: 20px;
}

.name{
    float: left;
    font-size: 1.5em;
    color: purple;
    font-weight: bold;
}

.per1{
    float: right;
    font-size: 1.5em;
    color: royalblue;
}

.progHa{
    margin-top: 10px;
}

.headHandler{
    margin-bottom: 10px;
    height: 50px;
}

.pro{
    border-radius: 10%;
    color: blueviolet;
    width:100%;
    height: 100%;

}

.proHand{
    margin-top: 20px;
    display: flex;
}